*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    font-family: sans-serif;
}
body.controller {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: hsl(210,3%,77%);
    margin: 0;
    padding: 0;
    border: 15px solid #454647;
}
body.controller.pressed {
    background-color: hsl(210,3%,27%);
}

div.select-player {
    list-style: none;
    padding: 20px;
    margin-top: 10vh;
}
div.select-player ul {
    list-style: none;
    padding: 0;
    margin: -8px;
}
div.select-player li {
    float: left;
    margin: 8px;
}
div.select-player button {
    padding: 10px 20px;
    border: none;
    background-color: hsl(210,3%,27%);
    color: white;
    font-size: 20px;
}

div.controls {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
div.controls svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    height: 80vh;
    fill: black;
}
body.controller.pressed div.controls svg {
    fill: white;
}

div.exit {
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    background: #454647;
    padding: 10px;
}
div.exit svg {
    height: 10vh;
    transform: rotate(90deg);
}
div.exit svg path {
    fill: white;
}
div.exit.pressed svg path {
    fill: grey;
}