<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Pong Screen</title>
        <link rel="stylesheet" href="css/screen.css" type="text/css" media="all">
    </head>
    <body class="screen">
        <main>
            <div class="content">
                <h1>
                    Pong
                </h1>
                <p>
                    Loading, please wait ...
                </p>
            </div>
            <aside class="sidebar">
                <div class="scores">
                    <h3>Connected Players</h3>
                    <ul>
                    </ul>
                </div>
                <div class="qrcode"></div>
                <div class="controller-link" data-url="http://{{ config.server.addr }}:{{ config.server.port }}/"></div>
            </aside>
        </main>
        <script>
            TheSpielplatz = {
                type : 'screen'
            }
        </script>
        <script src="js/screen.bundle.js"></script>
    </body>
</html>